# Folders
.ipynb_checkpoints/
__pycache__/


results_text/
dataset/
datasets/
models/
exp/
weights/
test_imgs/
results/
img_datas_1/
test_images/


# File types
*.h5
*.pickle
*.jpg
*.png
*.jpeg
*.csv
